@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{

    .navlist{
        @apply border-b-1.5 border-b-primary bg-primary cursor-pointer px-1 rounded-sm
        hover:border-b-secondary 
        transition-all duration-300 ease-linear;
    }
    .socialbox{
        @apply h-[90px] bg-secondarylight w-[320px] rounded-xl flex
    }
    .projcontainer{
        @apply shrink-0 w-80 sm:w-[500px] h-[460px] p-3 bg-secondarylight rounded-lg flex flex-col justify-center items-center gap-4 duration-200
    }
    .projbtn{
        @apply bg-primary text-secondary px-6 py-1.5 mb-3 text-lg rounded-md hover:rounded-2xl transition-all duration-300
    }

}

::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none; 
    scrollbar-width: none;
}
.marquee-container {
    width: 100%;
    overflow: hidden;
    position: relative;
  }
  
  .marquee {
    display: flex;
    will-change: transform;
  }

  /* ::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none; 
    scrollbar-width: none;
}
.marquee-container {
    width: 100%;
    overflow: hidden;
    position: relative;
  }
  
  .marquee {
    display: flex;
    will-change: transform;
  } */