@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{

    .navlist{
        @apply border-b-1.5 border-b-primary bg-primary cursor-pointer px-1 rounded-sm
        hover:border-b-secondary 
        transition-all duration-300 ease-linear;
    }
    .socialbox{
        @apply h-[90px] bg-secondarylight w-[320px] rounded-xl flex
    }

}

::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none; 
    scrollbar-width: none;
}

